<ul class="list-group">
    <li *ngFor="let task of tasks" class="list-group-item">
        <div class="task-checkbox">
            <input #taskInput
                   (change)="onTaskChange(task, taskInput.checked)"
                   [checked]="task.completed"
                   class="checkbox-inline"
                   type="checkbox">
            <span ngClass="{{task.completed ? 'name completed' : 'name'}}">{{ task.name }}</span>
            <span class="label {{getDueDateLabel(task)}} pull-right">{{ task.dueDate }}</span>
        </div>
    </li>
</ul>
